In [1]:
import pandas as pd

In [15]:
df_suic = pd.read_csv('suic_rate.csv')
df_suic

,Unnamed: 0,Country,2000,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,0,Afghanistan,4.9,5.0,5.0,5.0,5.0,5.0,4.9,4.8,...,4.3,4.1,4.0,4.0,3.9,4.0,4.0,4.1,4.1,4.1
1,1,Albania,4.9,4.5,4.6,4.8,4.8,7.5,7.8,8.1,...,7.8,7.9,5.2,5.3,5.0,4.8,4.7,4.7,4.5,4.3
2,2,Algeria,4.5,4.5,4.4,4.1,4.0,3.9,3.7,3.5,...,3.0,3.0,2.9,2.9,2.8,2.7,2.6,2.5,2.5,2.5
3,3,Argentina,9.1,10.3,10.2,9.7,8.7,8.6,8.6,8.3,...,8.6,8.5,9.1,8.6,9.3,8.3,8.3,8.9,9.2,8.4
4,4,Armenia,3.4,3.1,3.5,2.6,4.0,4.2,5.9,5.8,...,6.8,6.8,7.4,6.4,6.3,6.2,5.7,3.0,2.1,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,127,Uruguay,16.0,14.5,19.8,15.6,15.3,14.8,15.5,17.4,...,16.0,16.8,17.8,15.8,17.4,18.6,21.1,20.8,21.2,21.2
128,128,Uzbekistan,10.1,10.0,9.7,9.0,8.6,9.1,8.8,8.6,...,8.1,8.5,8.9,8.9,9.0,9.2,9.1,8.8,8.6,8.0
129,129,Vietnam,6.1,6.1,6.1,6.1,6.3,6.3,6.4,6.7,...,7.0,7.2,7.4,7.5,7.6,7.7,7.7,7.7,7.6,7.5
130,130,Zambia,13.3,12.4,12.1,11.6,12.2,11.9,11.7,10.3,...,10.1,10.3,9.4,9.1,9.0,8.7,8.5,8.5,8.1,7.3
131,131,Zimbabwe,13.3,12.8,13.4,13.2,14.2,14.0,14.4,17.2,...,21.5,20.7,19.7,18.6,18.2,18.0,16.8,15.0,14.0,14.1

In [16]:
df_suic.drop(['Unnamed: 0'], axis=1, inplace=True)
df_suic

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,4.9,5.0,5.0,5.0,5.0,5.0,4.9,4.8,4.6,...,4.3,4.1,4.0,4.0,3.9,4.0,4.0,4.1,4.1,4.1
1,Albania,4.9,4.5,4.6,4.8,4.8,7.5,7.8,8.1,8.2,...,7.8,7.9,5.2,5.3,5.0,4.8,4.7,4.7,4.5,4.3
2,Algeria,4.5,4.5,4.4,4.1,4.0,3.9,3.7,3.5,3.4,...,3.0,3.0,2.9,2.9,2.8,2.7,2.6,2.5,2.5,2.5
3,Argentina,9.1,10.3,10.2,9.7,8.7,8.6,8.6,8.3,8.7,...,8.6,8.5,9.1,8.6,9.3,8.3,8.3,8.9,9.2,8.4
4,Armenia,3.4,3.1,3.5,2.6,4.0,4.2,5.9,5.8,4.8,...,6.8,6.8,7.4,6.4,6.3,6.2,5.7,3.0,2.1,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,Uruguay,16.0,14.5,19.8,15.6,15.3,14.8,15.5,17.4,15.1,...,16.0,16.8,17.8,15.8,17.4,18.6,21.1,20.8,21.2,21.2
128,Uzbekistan,10.1,10.0,9.7,9.0,8.6,9.1,8.8,8.6,8.5,...,8.1,8.5,8.9,8.9,9.0,9.2,9.1,8.8,8.6,8.0
129,Vietnam,6.1,6.1,6.1,6.1,6.3,6.3,6.4,6.7,6.9,...,7.0,7.2,7.4,7.5,7.6,7.7,7.7,7.7,7.6,7.5
130,Zambia,13.3,12.4,12.1,11.6,12.2,11.9,11.7,10.3,9.7,...,10.1,10.3,9.4,9.1,9.0,8.7,8.5,8.5,8.1,7.3
131,Zimbabwe,13.3,12.8,13.4,13.2,14.2,14.0,14.4,17.2,20.1,...,21.5,20.7,19.7,18.6,18.2,18.0,16.8,15.0,14.0,14.1

In [41]:
suic_view = df_suic.loc[:, ['Country', '2010', '2011',
                '2012', '2013', '2014', '2015', 
                '2016', '2017', '2018', '2019']].set_index('Country').T

In [45]:
suic_view.index = pd.to_datetime(suic_view.index)
suic_view.index

DatetimeIndex(['2010-01-01', '2011-01-01', '2012-01-01', '2013-01-01',
               '2014-01-01', '2015-01-01', '2016-01-01', '2017-01-01',
               '2018-01-01', '2019-01-01'],
              dtype='datetime64[ns]', freq=None)

In [59]:
suic_ov = pd.read_csv('suic_overall.csv', sep=';')
top_10 = suic_ov.sort_values(by='mean', ascending=False).head(10)
top_10.transpose()

,66,69,10,110,61,123,64,50,81,108
Country,Lesotho,Lithuania,Belarus,South Africa,Kazakhstan,Ukraine,Latvia,Hungary,Montenegro,Slovenia
2010,65.4,37.2,35.9,24.6,29.9,24.5,22.5,25.5,20.3,20.7
2011,69.5,38.1,36.2,22.4,28.7,23.0,22.7,25.1,20.9,21.6
2012,79.1,35.0,29.9,22.9,27.6,23.1,23.5,24.8,21.0,22.0
2013,87.6,40.5,27.9,23.7,26.3,22.6,20.6,22.1,20.4,22.2
2014,92.6,35.6,26.3,24.1,24.2,24.4,20.7,20.4,20.6,19.6
2015,92.4,34.9,24.3,24.5,23.2,21.6,21.6,19.9,20.7,21.0
2016,87.0,32.8,24.2,24.4,21.7,21.4,21.3,18.7,20.8,19.0
2017,78.3,29.7,23.3,25.2,20.8,20.6,21.4,17.5,21.1,20.9
2018,76.6,27.4,22.8,24.1,19.0,21.9,18.1,17.7,21.2,17.8
2019,72.4,26.1,21.2,23.5,17.6,21.6,20.1,16.6,21.0,19.8
mean,80.09,33.73,27.2,23.94,23.9,22.47,21.25,20.83,20.8,20.46